---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import JokeGenerator from '../components/JokeGenerator.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const sig = "SIGMUND"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={sig} />
		<main>
			<h1>Hello, Chuckies!</h1>
			<img style="height: 300px" src="https://pngimg.com/uploads/chuck_norris/chuck_norris_PNG10.png" />
			<JokeGenerator client:load />
		</main>
		<Footer />
	</body>
</html>
